* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0b2434;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.board {
    width: 320px;
    height: 320px;
    background: #f5f5f5;
    border-radius: 10px;
}


